body {
background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png)
}
img {
border: 2px solid white;
padding; 5px
}
.info {
color: #FFFFF0;

}
div {
color: #FFFFF0;
tub-size: left;
}
p {
color: #FFFFF0;
}